# Sample LOD config file

[instance]
port = 1337

[[proxies]]
name = "osm"
tile_url = "https://tile.example.com/osm/{z}/{x}/{y}.pbf"
cors_origins = "https://example.com"
access_token = "MyTilesArePrivate"
add_headers = [ "X-We-Want-This", "X-This-One-Too" ]
del_headers = [ "X-Get-Rid-Of-Me" ]

[proxies.cache]
mem_cap = 100
mem_ttl = "1h"
redis_ttl = "24h"
redis_url = "redis://localhost:6379/0"
