# Sample LOD config file

[instance]
port = 1337
admin_token = "GHglvODhAjIr9qyrchv2DPrKHRo1D7eN"

[[proxies]]
name = "basemap"
tile_url = "http://tegola.example.com:8080/maps/basemap/{z}/{x}/{y}.pbf"
cors_origins = "*"
del_headers = ["Tegola-Cache"]

[[proxies.add_headers]]
name = "Referer"
value = "https://yoursite.com/"

[[proxies.params]]
name = "osm_id"
default = "0"

[proxies.cache]
mem_cap = 200
mem_ttl = "2h"
redis_ttl = "48h"
redis_url = "redis://localhost:6379/0"
key_template = "basemap:{osm_id}:{z}:{x}:{y}"

[[proxies]]
name = "tornadoes"
tile_url = "http://tegola.example.com:8080/maps/tornadoes/{z}/{x}/{y}.pbf"
cors_origins = "*"
del_headers = ["Tegola-Cache"]

[proxies.cache]
mem_cap = 200
mem_ttl = "1h"
redis_ttl = "48h"
redis_url = "redis://localhost:6379/0"
key_template = "tornadoes:{z}:{x}:{y}"
